<div class="container">
  <div class="box">
    <h3>Formación</h3>
    <div>
      <ul class="list">
        <li class="web">Desarrollo Web con MEAN
          <ul>
            <li class="location">Centro de e-Learning UTN FRBA</li>
            <li class="year">2021</li>
            <li class="completed">Finalizado</li>
          </ul>
        </li>
        <li class="web">Programador Web Avanzado
          <ul>
            <li class="location">Centro de e-Learning UTN FRBA</li>
            <li class="year">2020</li>
            <li class="completed">Finalizado</li>
          </ul>
        </li>
        <li class="institute">Introducción a UX
          <ul>
            <li class="location">Educación IT, CABA</li>
            <li class="year">2019</li>
            <li class="completed">Finalizado</li>
          </ul>
        </li>
        <li class="institute">Maquetación Web: HTML5 y CSS
          <ul>
            <li class="location">Educación IT, CABA</li>
            <li class="year">2019</li>
            <li class="completed">Finalizado</li>
          </ul>
        </li>
        <li class="institute">Programador Web Fullstack
          <ul>
            <li class="location">Digital House, CABA</li>
            <li class="year">2018</li>
            <li class="incomplete">Incompleto</li>
          </ul>
        </li>
        <li class="institute">Ingeniería en Sistemas de Información
          <ul>
            <li class="location">Universidad Tecnológica Nacional, CABA</li>
            <li class="year">2017</li>
            <li class="incomplete">Incompleto</li>
          </ul>
        </li>
        <li class="institute">Educación Secundaria
          <ul>
            <li class="location">Instituto Amanecer, CABA</li>
            <li class="year">2016</li>
            <li class="completed">Finalizado</li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <div class="box second">
    <h3>Certificaciones</h3>
    <ul class="certificate-list">
      <li class="certificate">Microsoft Office Specialist (MS Office Excel 2010)</li>
      <br>
      <li class="certificate">Microsoft Office Specialist (MS Office Power Point 2010)</li>
      <br>
      <li class="certificate">Microsoft Office Specialist (MS Office Word 2010)</li>
    </ul>
  </div>
</div>
