<div class="container">
  <div class="title">
    <h1>¡Contactame!</h1>
  </div>
  <div class="box">
    <div class="social-div" (click)="copyEmail()" style="cursor:pointer;">
      <img src="/assets/images/gmail-logo.png" alt="gmail-logo" width="24">
      <span id="email">carloscor998@gmail.com</span>
    </div>
    <div class="social-div" onclick="location.href='https://www.github.com';" style="cursor: pointer;">
      <img src="/assets/images/github-logo.png" alt="github-logo" width="24">
      <span><a href="https://github.com/carloscortez98">/carloscortez98</a></span>
    </div>
    <div class="social-div" onclick="location.href='https://www.instagram.com';" style="cursor: pointer;">
      <img src="/assets/images/instagram-logo.png" alt="instagram-logo" width="24">
      <span><a href="https://www.instagram.com/carloscortez98/">/carloscortez98</a></span>
    </div>
    <div class="social-div" (click)="copyPhone()" style="cursor:pointer;">
      <img src="/assets/images/whatsapp-logo.png" alt="whatsapp-logo" width="24">
      <span id="phone">+54 1138623183</span>
    </div>
  </div>
</div>
