<div class="container">
  <div class="box">
    <h3 class="title">Maqueta de SPA estática</h3>
    <span class="about"><i>Usando Angular - Finalizado</i></span>
    <p class="description">&nbsp; Aplicación de una sola página. Desarrollada con SASS, incluye animaciones, transiciones y modelo responsive. Frontend disponible gracias a Netlify.</p>
    <button class="goTo">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"><a href="https://icecream-example.netlify.app/">Visitar</a></span>
    </button>
  </div>
  <div class="box">
    <h3 class="title">Login / Signup</h3>
    <span class="about"><i>Usando MongoDB, ExpressJs, Angular y NodeJs - Finalizado</i></span>
    <p class="description">&nbsp; Aplicación de una sola página. Posee un sistema de registro de usuarios y con la capacidad de iniciar sesion con los datos almacenados. Es posible eliminar la cuenta y, a su vez, perder el ingreso al sitio. Autenticacion del usuario  por medio de JWT. Validaciones de formularios realizadas desde Angular y Express. Información almacenada en MongoDB Atlas. Diseño con CSS, jQuery y Angular Material como principal proveedor. Backend alojado en Heroku, frontend disponible gracias a Netlify.</p>
    <button class="goTo">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"><a href="https://simplelog-in.netlify.app/">Visitar</a></span>
    </button>
  </div>
  <div class="box">
    <h3 class="title">Single Page Application para emprendimiento de ropa</h3>
    <span class="about"><i>Usando MongoDB, ExpressJs, Angular y NodeJs - Finalizado</i></span>
    <p class="description">&nbsp; Acceso para todo público. Sistema de filtros (precio menor/mayor, ofertas, colores). Usuario único (admin), el cual tiene acceso a un Panel de control desde donde se puede crear, editar o eliminar mercadería. Autenticacion del usuario administrador por medio de JWT. Validaciones de formularios realizadas desde Angular y Express. Información almacenada en MongoDB Atlas e imágenes en el servidor. Diseñado con Angular Material y jQuery. Adaptado para dispositivos móviles y tablet. Actualmente no se encuentra disponible en internet.</p>
    <button class="goTo">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"><a routerLink="/experiencia" (click)="copyEmail()">Consultame</a></span>
    </button>
  </div>
  <div class="box">
    <h3 class="title">Control de stock de productos</h3>
    <span class="about"><i>Usando MongoDB, ExpressJs, Angular y NodeJs - Finalizado</i></span>
    <p class="description">&nbsp; Mi primer proyecto personal. Aplicación de una sola página. Contiene un usuario único (admin) que permite el acceso completo al sitio, además es capaz de crear, modificar y eliminar productos de la base de datos. Incluye el registro de cada producto editado, señalando también la fecha en la cual se realizó cada cambio. Validaciones de formularios realizadas desde Angular y Express. Información almacenada en MongoDB Atlas e imágenes en el servidor. Diseño con CSS, jQuery y Angular Material como principal proveedor. Backend alojado en Heroku, frontend disponible gracias a Netlify.</p>
    <button class="goTo">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"><a href="https://stockcontrol.netlify.app/">Visitar</a></span>
    </button>
  </div>
  <div class="box last">
    <h3 class="title">E-commerce de productos</h3>
    <span class="about"><i>Usando MySQL y PHP en Codeigniter - Finalizado</i></span>
    <p class="description">&nbsp; Proyecto entregado como examen de final de curso. Cuenta con sistema de SignUp/Login de usuarios además de tener un usuario ADMIN, el cual es el único capaz de crear, editar o eliminar productos de la base de datos. Validaciones de formularios realizadas con Javascript y PHP. Desarrollado utilizando Bootstrap en su mayoría, lo que hace al sitio adaptable a distintos dispositivos, también contiene partes creadas con jQuery. No incluye integración de pagos. Disponible en GitHub.</p>
    <button class="goTo">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"><a href="https://github.com/carloscortez98/ecommerce-codeigniter">Ver codigo</a></span>
    </button>
  </div>
</div>
