<div class="container">
  <div class="left-container">
    <h3>¡Bienvenid@!</h3>
    <p>Estoy iniciando mi camino como Desarrollador Web Fullstack. Actualmente, desarrollo SPA (Single Page Application) con el stack MEAN aunque poseo facilidad para adaptarme a diversos entornos. Cuento con experiencia creando e-commerce y similares, CRUD (Create, Read, Update, Delete) para gestionar bases de datos y Sign Up/Log In de usuarios, en donde uso JWT (JSON Web Token) para la autenticación de los mismos.</p>
    <p>Tengo conocimientos de librerias muy útiles como Bootstrap, Jquery y Angular Material, además del módulo Nodemailer para el envío de emails y Multer como middleware para la manipulación de archivos.</p>
    <p>Comencé estudiando programación web usando Codeigniter como framework, PHP como lenguaje de programación y MySQL como base de datos.</p>
    <p>En búsqueda <strong>ACTIVA</strong> de trabajo en relación de dependencia pero también abierto a escuchar cualquier propuesta.</p>
    <h3>¿Sobre mí?</h3>
    <p>Me considero una persona seria en general, aunque sé distenderme cuando la situación lo amerita. Responsable, con buena predisposición al trabajo en equipo y la comunicación constante, es por eso que soy partidario de aplicar SCRUM como metodología Agile.</p>
    <button>
      <a (click)="downloadFile()" href="/assets/others/cv_carloscortez.pdf" download="cv_carloscortez.pdf">Descarga mi CV</a>
    </button>
  </div>
  <div class="logo-container">
    <img src="/assets/images/mongo-logo.png"  alt="logo">
    <img src="/assets/images/express-logo.png"  alt="logo">
    <img src="/assets/images/angular-logo.png"  alt="logo">
    <img src="/assets/images/node-logo.png"  alt="logo">
    <img src="/assets/images/mysql-logo.png"  alt="logo">
    <img src="/assets/images/php-logo.png"  alt="logo">
    <img src="/assets/images/bootstrap-logo.png"  alt="logo">
    <img src="/assets/images/jquery-logo.png"  alt="logo">
  </div>
</div>
